<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type"content="text/html";charset="utf-8"/>
<title>GitHub</title>
<link href="https://assets-cdn.github.com/favicon.ico" rel="Shortcut Icon"  type="image/x-icon" />

<link href="Github.css" rel="stylesheet" type="text/css"/>

<head>

</head>

<body>
<div class="div_upper"  >
    <div class="top">
        <div style="float:left"><img src="images/1.png"style="width:45px;height:45px;"/> </div>

        <div class="search"style="float:left;">
            <form action="http://www.baidu.com/s" method="get"id="submit">
                <input id="usename" name="wd" placeholder="Search to jump to" type="text" style="width:300px;height:28px; border:1px #24292E solid;border-radius:4px; background-color:#3F4347">
        </div>
        <div style="float:left;margin-left:142px;margin-top:8px"><img src="images/2.png"/></div>

        <div class="top_menu">
            <div class="top_word">Pull request</div>
            <div class="top_word">Issues</div>
            <div class="top_word">Marketplace</div>
            <div class="top_word">Explore</div>
        </div>
        <div style="float:right;">

            <div style="float:right;"><img src="images/5.png"/></div>
            <div style="float:right;"><img src="images/4.png"/></div>
            <div style="float:right;margin-top:4px;"><img src="images/3.png"/></div>


        </div>
    </div>
    <div style="clear:both;"></div>
</div>
<div class="div_container">
    <div class="div_shift">
        <div class="div_center">
            <div class="div_shift_title">
                <h2 style="font-weight: 500;">Learn Git and GitHub without any code!</h2>
            </div>
            <div class="div_shift_leader">
                <h2 style="font-size:18px;font-weight:400;">Using the Hello World guide, you’ll create a repository, start a branch, write comments, and open a pull request.</h2>
                <a href="https://guides.github.com/activities/hello-world/" class="btn btn-primary shelf-cta" target="_blank" data-ga-click="Hello World, click, Clicked Let’s get started button"style="margin-top:15px;">Read the guide</a>
                <a  href="https://github.com/new"class="btn shelf-cta ml-3" data-ga-click="Hello World, click, Clicked new repository button - context:user"style="background-image: linear-gradient(-180deg,#fafbfc 0%,#eff3f6 90%);margin-top:15px;">Start a project</a>
            </div>


        </div>

    </div>

    <div class="lay_body">
        <div class="div_list"style="margin-top:30px;
					width:300px;
					height:500px;
					padding-right: 30px;
					float:left;">

            <div style="border-radius:5px;background-color:#24292e;">
                <div class="div_left1">
                    <img src="images/6.png" style="display:inline-block;"/>
                    <div class="word">
                        <div style="font-size:12px;font-weight:600;">Workshops at GitHub Universe</div>
                        <div style="width:210px;">Register to attend a workshop in San Francisco on October 15</div>
                    </div>
                </div>
            </div>


            <div class="div_left2">
                <img src="images/7.png" style="display:inline-block;vertical-align:top;"/>
                <div class="l_word">Our new Terms of Service and Privacy Statement are in effect.</div>
            </div>
            <div class="div_self">
                <img src="images/8.png" />
                <div class="div_self_word">SearchinR</div>
                <img src="images/9.png" style="float:right;margin-top:-25px;"/>
            </div>
            <div class="div_left3">
                <div class="div_left_boxhead">
                    <p style="font-size:14px;font-weight:600;display:inline-block;margin-top:5px;">Repositories</p>
                    <div class="l_button"style="width:108px;height:28px;">
                        <a href="https://guides.github.com/activities/hello-world/" class="btn1 btn-primary " target="_blank" data-ga-click="Hello World, click, Clicked Let’s get started button"style="margin-top:-62px;margin-left:140px;">New repository</a>
                    </div>
                </div>
                <div class="div_left_boxbody">
                    <p style="font-size:14px;text-align:center;line-height: 1.25;">You don’t have any repositories yet!</p>
                </div>
            </div>


            <div class="div_left3"style="margin-top:-5px;">
                <div class="div_left_boxhead">
                    <p style="font-size:14px;font-weight:600;display:inline-block;margin-top:5px;">Your teams</p>

                </div>
                <div class="div_left_boxbody">
                    <p style="font-size:14px;text-align:center;line-height: 1.25;">You don’t belong to any teams yet!</p>
                </div>
            </div>

        </div>


        <div class="div_chat">
            <div class="div_chat_top">
                <div class="div_chat_top_word1">
                    Browse activity
                </div>
                <div class="div_chat_top_word2">
                    Discover repositories
                </div>
            </div>
            <div class="div_chat_main">
                <h3 style="font-size:24px;font-weight:600;margin-bottom:8px;margin-top:0px;">Discover interesting projects and people to populate your personal news feed.</h3>
                <p style="font-size:16px;border-bottom:8px;">Your news feed helps you keep up with recent activity on repositories you watch and people you follow. </p>
                <a href="https://github.com/explore" class="div_chat_button">Explore GitHub</a>
            </div>

        </div>
        <div class="foot">
            <div class="in_foot">
                <div style="float:left;margin-left:10px;"><img src="images/10.png"style="margin-top:-3px;"/></div>
                <div style="float:left;color:#586069;">2018 GitHub, Inc.</div>
                <div class="foot_menu1">Terms</div>
                <div class="foot_menu1">Privacy</div>
                <div class="foot_menu1">Security</div>
                <div class="foot_menu1">Status</div>
                <div class="foot_menu1">Help</div>
                <div style="float:left;margin-left:100px;"><img src="images/11.png"style="margin-right:70px;;"/></div>
                <div class="foot_menu2">About</div>
                <div class="foot_menu2">Blog</div>
                <div class="foot_menu2">Training</div>
                <div class="foot_menu2">API</div>
                <div class="foot_menu2">Pricing</div>
                <div class="foot_menu2">Contact GitHub</div>
            </div>
        </div>
        <div style="clear:both;">	</div>
    </div>
</div>
<body>

</html>
